<h2>Numbers</h2>

<div class="grid-table">
	<div class="row">
		<div class="header">Favourite</div>
		<div class="header">Number</div>
		<div class="header">Result</div>
		<div class="header">Number of Favourites</div>
	</div>

	<% @numbers.each do |number| %>
		<div class="row" id="number_<%= number.id %>">
			<%= render partial: "welcome/row", formats: "html", locals: { number: number } %>
		</div>
	<% end %>

</div>