/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 	margin: 0;
 	font-family: Helvetica Neue, Arial, san-serif;
}

header {
	width: 100%;
	background-color: #eee;
}

.title {
	display: inline-block;
	padding: 20px;
	margin: 0;
		color: #000;
	font-size: 26px;
	text-decoration: none;
	font-weight: 700;
}

.header-options {
	display: inline-block;
	float: right;
	padding: 25px 20px;
}

.sign-up {
	font-size: 22px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* --- Index --- */

.grid-table {
	display: grid;
	grid-template-columns: 1fr;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.row:nth-child(even) {
	background-color: #eee;
}

.row:nth-child(odd) {
	background-color: #ddd;
}

.row:hover {
	background-color: #bbb;
}

.header {
	font-weight: 700;
	padding: 10px 5px;
	text-align: center;
}

.cell {
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px;
}