/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 	margin: 0;
 	font-family: Helvetica Neue, Arial, san-serif;
}

header {
	width: 100%;
	background-color: #eee;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.title {
	display: inline-block;
	padding: 20px;
	margin: 0;
		color: #000;
	font-size: 26px;
	text-decoration: none;
	font-weight: 700;
}

.header-options {
	display: inline-block;
	float: right;
	padding: 33px 20px;
	justify-self: end;
}

.sign-up {
	font-size: 22px;
}

.sign-up + .log-in {
	margin-left:10px;
	font-size: 22px;
}

.login-box {
    margin-top: 30px;
    margin-bottom: 110px;
    text-align: center;
}

.login-box label[for="name"] {
	font-size: 21px;
	margin-bottom: 10px;
}
.login-box input[type="text"] {
    width: 300px;
    height: 40px;
    font-size: 21px;
    margin-top: 10px;
}

.login-box input[type="submit"] {
	margin-top: 20px;
    width: 200px;
    height: 30px;
    font-size: 21px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* --- Index --- */

.top-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
}

.page-size {
	justify-self: end;
	margin: 22px 0px;
}

#size {
	min-width: 50px;
    background-color: #eee;
    border: 2px solid #ccc;
    font-size: 16px;
}

.grid-table {
	display: grid;
	grid-template-columns: 1fr;
}

.row {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}

.row:nth-child(even) {
	background-color: #eee;
}

.row:nth-child(odd) {
	background-color: #ddd;
}

.row:hover {
	background-color: #bbb;
}

.header {
	font-weight: 700;
	padding: 10px 5px;
	text-align: center;
}

.cell {
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px;
}

.hover-container {
	display: block;
	position:relative;
	cursor: pointer;
}

.favourite-count:hover + .list-of-users {
	display: block;
}

.list-of-users {
	position: absolute;
	display: none;
	background-color: #fbfbfb;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 2px solid #aaa;
    z-index: 1;
    left: 20px;
    top: 28px;
}

.star {
	border: none;
    margin: 1px;
    padding: 0;
    background: none;
}

.star.active:hover {
	margin: 1px;
}

.star.active:hover .label {
	font-size: 23px;
}

.star .label {
    font-size: 23px;
    filter: grayscale(100%);
    cursor: pointer;
}

.star:hover {
	margin: 0px;
}

.star.active .label, .star:hover .label {
	filter: grayscale(0%);
}

.star:hover .label {
	font-size: 25px;
}

/* --- pagination --- */

.pagination {
	margin: 20px auto 40px;
	text-align: center
}

.page {
	min-width: 50px;
    background-color: #eee;
    border: 2px solid #ccc;
    font-size: 20px;
    cursor: pointer;
    margin: 5px 2px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 8px;
    line-height: normal;
    letter-spacing: 1px;
}

.page.active {
	background-color: #bbb;
	border-color: #ccc;
}

.pagination .button_to {
	display: inline-block;
}

/* --- footer --- */

footer {
	height: 100px;
    background-color: #eee;
}

@media screen and (max-width: 970px) {
	.container {
    	width: 90%;
    }
}